# Application
NODE_ENV=development
PORT=5050

# Microsoft Azure
AZURE_SUBSCRIPTION_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# Microsoft Foundry
FOUNDRY_PROJECT_ENDPOINT=
FOUNDRY_AGENT_ID=

# Azure AI Search
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_API_KEY=
AZURE_SEARCH_INDEX_NAME=

# GitHub
GITHUB_TOKEN=
GITHUB_OWNER=
GITHUB_REPOSITORY=
